:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --text: #242424;
  background-color: #e5e5e5;
  --overlay: rgba(0, 0, 0, 0.625);
  --orange: rgb(212, 117, 0);
  --darkblue: rgb(0, 0, 46);
  --blue: rgb(0, 122, 136);
  --blue-200: rgb(1, 113, 126);
  --blue-900: rgb(1, 76, 85);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

@keyframes openUp {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
